@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-header {
  height: 15vh;
}
#main-container {
  min-height: 80vh;
}
#main-footer {
  height: 5vh;
}